@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

@import url('bootstrap.min.css'); /* guide: http://getbootstrap.com/*/
@import url('fonts.css');
@import url('navigation.css');
@import url('news.css');
@import url('newsform.css');
@import url('assets.css');
@import url('assetform.css');
@import url('login.css');
@import url('../script/vendor/slimbox/css/slimbox2.css');




html, body {
	width: 100%;
	height: 100%;
	color: #000000;
	margin: 0;
	font-size: 1em;
    font-family: 'TradeGothicLTPro',  sans-serif;
	line-height: 1.4;
	top:0;
	position: relative;    
	/*
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-ms-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
*/
}

div#loader {
	position: absolute;
	top:50%;
	left:50%;
	width: 100px;
	height: 60px;
	text-align: center;
}



