<div id="assetform">

	<div>
		<label  class="control-label">Name:</label>
		<input name="name" type="text" placeholder="Name" value="<%= name %>" class="form-control" />
	</div>
	<div>
		<label  class="control-label">Type:</label>
		<select name="type">
			<% _(types).each(function(type) { %>
				<option value="<%= type.id %>" <% if ( typeid==type.id ) { %>selected="selected"<% } %>><%= type.name.toUpperCase() %></option>
			 <% }); %>
		</select>
	</div>

	


	<div>
		<label  class="control-label">Template:</label>
		<select name="template">
			<% _(templates).each(function(template) { %>
				<option value="<%= template.id %>" <% if ( templateid==template.id ) { %>selected="selected"<% } %>><%= template.name.toUpperCase() %></option>
			 <% }); %>
		</select>
	</div>

	<div>
		<label  class="control-label">Title:</label>
		<input name="title" type="text" placeholder="Title" value="<%= content==null ? "" : content.title %>" class="form-control" />
	</div>
	<div>
		<label  class="control-label">Header:</label>
		<input name="header" type="text" placeholder="Header" value="<%= content==null ? "" : content.header %>" class="form-control" />
	</div>
	<div>
		<label  class="control-label">Body:</label>
		<textarea name="body" rows="6" placeholder="Body text"class="form-control"><%= content==null ? "" : content.body %></textarea>
	</div>
	<div>
		<label  class="control-label">URL:</label>
		<input name="url" type="text" placeholder="URL" value="<%= content==null ? "" : content.weburl %>" class="form-control" />
	</div>

	<div>
		<label  class="control-label assetMediaLabel">Image:</label>
		<div class="upload-file-container">
			<img name="image" type="image" src="../resources/<%= source %>" id="assetMedia" class="form-control mediaDrop" />
			<input name="upload" id="uploadAsset" type="file" />
		</div>
	</div>

	<div>
		<label  class="control-label">Image:</label>
		<div class="upload-file-container">
			<img name="image" type="imageContent" src="../<%= content==null ? "" : content.image_1 %>" class="form-control mediaDrop" id="image1" />
			<img name="image" type="image" src="../<%= content==null ? "" : content.image_2 %>" class="form-control mediaDrop" id="image2" />
		</div>
	</div>



	<div>
		<label  class="control-label">
		<input type="checkbox" name="public" value="1" <% if (public>0) { %>checked="checked"<% } %>  /> Item Publicly Available:</label>
	</div>

	<div>
		<input type="button" value="Cancel"  class="cancel btn btn-default" />
		<input type="button" value="Delete"  class="delete btn btn-danger" />
		<input type="button" value="Submit" class="save btn btn-primary btn-lg"/>
	</div>
</div>